# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [17]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [18]:
data = [['Ivysaur', 45, 'Bulbasaur', 'yes', 'grass'],
        ['Charmeleon', 39, 'Charmander', 'no', 'fire'],
        ['Wartortle', 44, 'Squirtle', 'yes', 'water'],
        ['Metapod', 45, 'Caterpie', 'no', 'bug']]

### Step 3. Assign it to a variable called pokemon

In [19]:
pokemon = pd.DataFrame(data,columns=['evolution', 'hp', 'name', 'pokedex', 'type'])
display(pokemon)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [20]:
pokemon = pokemon.reindex(columns=['name', 'type', 'hp', 'evolution', 'pokedex'])
display(pokemon)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [21]:
pokemon['place'] = ['Coastal Biome', 'Nests', 'Terarium', 'Rolling Fields']
display(pokemon)

         name   type  hp   evolution pokedex           place
0   Bulbasaur  grass  45     Ivysaur     yes   Coastal Biome
1  Charmander   fire  39  Charmeleon      no           Nests
2    Squirtle  water  44   Wartortle     yes        Terarium
3    Caterpie    bug  45     Metapod      no  Rolling Fields

### Step 6. Present the type of each column

In [22]:
column_types = pokemon.dtypes
print(column_types)

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.
### Delete "hp" collumn in dataset

In [23]:
del pokemon['hp']
display(pokemon)

         name   type   evolution pokedex           place
0   Bulbasaur  grass     Ivysaur     yes   Coastal Biome
1  Charmander   fire  Charmeleon      no           Nests
2    Squirtle  water   Wartortle     yes        Terarium
3    Caterpie    bug     Metapod      no  Rolling Fields